/***GENERAL STYLES***/

body{

}

/***TYPOGRAPHY***/

.h2-white{
color: white;
}
.p-white{
color: white;
}

.h4-top-marg {
  margin-top: 70px;
}

/***UTILITIES***/

.main-white{
  background-color: white;
}
.background-blue{
  height: 150px;
  background-color: #2c3e50;
}


.menu{
  height: 100px;
  background-color: #1abc9c;
}

.col-margin{
  margin-top: 20px;
}

.img-color {
  background-color: pink;
}

.icon-color {
  background-color: azure;
}

.ctc-form {
  background-color: #e6e6e6;
}

.btn-bkgr {
  background-color: #66ffcc;
}

.row-pad{
  padding-bottom: 20px;
}

.ft-bottom-copy{
  background-color: #1a252f;
}
